
{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}


{% if messages %}{% endif %}


{% block header %}
Render con una bienvenida al lograr LOGEAR desde la página de llegada. Puede deslogear. redirige a index
{% endblock %}


{% block content %}
    <div class="m-5 p-5">
        <div class="float-right">
            <a href="/logout">Log Out</a>
        </div>
        <div>
            <h1>Success! Welcome, {{ request.session.user.name }}!</h1>
            <h3 style="color: greenyellow">Successfully registered (or logged in!)</h3>
        </div>
    </div>
{% endblock %}
